{% extends 'layout.html' %}


  <title>{% block title %}Browse{% endblock %}</title>


{% block body %}
<style>
#revision-card {
max-height:250px;
overflow-y:auto; /* if the flashcard is more than the maximum height this element will add a scroll bar */
}
</style>



<div class="container mt-5">
  <!-- Search bar -->
  <div class="input-group mb-4" style="width:80%;margin: auto;">
    <input type="text"  class="col-auto form-control" placeholder="Search flashcards">
    <button type="submit" class="col-auto btn btn-primary">🔍Search</button>

  </div>


  <!-- This will filter the decks and give you the options to select -->
  <div class="card bg-light mt-3">
    <div class="card-body">
      <h5 class="card-title mb-4">Filters</h5>
      <div class="form-group">
        <label for="deck-filter">Deck:</label>
        <select class="form-control" id="deck-filter">
          <option>All</option>
          <option>Deck 1</option>
          <option>Deck 2</option>
        </select>
      </div>
      <div class="form-group">
        <label for="subdeck-filter">Subdeck:</label>
        <select class="form-control" id="subdeck-filter">
          <option>All</option>
          <option>Subdeck 1</option>
          <option>Subdeck 2</option>
        </select>
      </div>
    </div>
  
  <!-- Flashcard cards -->
<!-- m-3 is margin for all sides of the flaschcard -->
<div class="row m-3" id="flashcard-cards">
  <div class="col-sm-6 col-md-4">
    <div class="card" id="revision-card">
      <div class="card-body">
        <h5 class="card-title">Flashcard 1</h5>
        <p class="card-text">Question: What is the capital of France?</p>
        <p class="card-text">Answer: A Javascript Developer & Linux enthusiast with 4 years of industrial experience and proven know-how to combine creative and usability viewpoints resulting in world-class web applications. I have experience working with Vue, React & Node.js & currently working on article writing and video creation.</p>
      </div>
      <div class="card-footer d-flex justify-content-between">
        <button class="btn btn-secondary" id="edit">Edit</button>
        <button class="btn btn-danger" id="delete">Delete</button>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="card" id="revision-card">
      <div class="card-body">
        <h5 class="card-title">Flashcard 2</h5>
        <p class="card-text">Question: What is the capital of Japan?</p>
        <p class="card-text">Answer: Tokyo</p>
      </div>
      <div class="card-footer d-flex justify-content-between">
        <button class="btn btn-secondary" id = "delete">Edit</button>
        <button class="btn btn-danger" id ="delete">Delete</button>
      </div>
    </div>
  </div>
  <!-- Additional flashcard cards -->
  <!-- Add as many cards as needed -->
</div>

{% endblock %}