{% extends 'layout.html' %}


  <title>{% block title %}Browse{% endblock %}</title>

<!-- ADD THE AVAILITY TO SELECT MULTIPLE FLASHCARD HERE-->
{% block body %}
<style>
#revision-card {
max-height:250px;
overflow-y:auto; /* if the flashcard is more than the maximum height this element will add a scroll bar */
}
</style>



<div class="container mt-5">
  <!-- Search bar -->
  <div class="input-group mb-4" style="width:80%;margin: auto;">
    <input type="text"  class="col-auto form-control" placeholder="Search flashcards">
    <button type="submit" class="col-auto btn btn-primary">🔍Search</button>

  </div>


  <!-- This will filter the decks and give you the options to select -->
  <div class="card bg-light mt-3">
    <div class="card-body">
      <h5 class="card-title mb-4">Filters</h5>
      <div class="form-group">
        <label for="deck-filter">Deck:</label>
        <select class="form-control" id="deck-filter">
          <option>All</option>
          <option>Deck 1</option>
          <option>Deck 2</option>
        </select>
      </div>
      <div class="form-group">
        <label for="subdeck-filter">Subdeck:</label>
        <select class="form-control" id="subdeck-filter">
          <option>All</option>
          <option>Subdeck 1</option>
          <option>Subdeck 2</option>
        </select>
      </div>
    </div>
  
  <!-- Flashcard cards -->
<!--m-2 add a margin element to each flashcard in all 4 sides -->
<div class="row m-2" id="flashcard-cards">
  {% for i in range(5) %}
  <!--On small screen, there will be 6 cards and on medium screen there will be 4-->
  <div class="col-sm-6 col-md-4" style = "margin-bottom: 10px;">
    <div class="card" id="revision-card">
      <div class="card-footer d-flex justify-content-between">
        <button class="btn btn-secondary" id="edit">Edit</button>
        <button class="btn btn-danger" id="delete">Delete</button>
      </div>
      <div class="card-body">
        <h5 class="card-title">Flashcard 1</h5>
        <p class="card-text">Question: What is the capital of France?</p>
        <p class="card-text">Answer: A Javascript Developer & Linux enthusiast with 4 years of industrial experience and proven know-how to combine creative and usability viewpoints resulting in world-class web applications. I have experience working with Vue, React & Node.js & currently working on article writing and video creation.</p>
      </div>
    </div>
  </div>
  {% endfor%}
</div>

{% endblock %}