{% extends 'layout.html' %}


  <title>{% block title %}Create card{% endblock %}</title>


{% block body %}

<h1 >Create Card</h1>

<!--Jinja function to display the subdecks, this is a recursive function-->
{% macro display_subdecks(subdeck,deck) %}
<!-- The selceted line in the dropdown option the same, after post request, thats what the selected id which is passed in and out through the function display_subdecks-->
  <option value = "{{subdeck.id}}" >
    {{deck.name}} ->- {{ subdeck.name }}
  </option>
  {% if subdeck.children_deck %}
    {% for sub in subdeck.children_deck %}
      {{ display_subdecks(sub,subdeck) }}
    {% endfor %}
  {% endif %}
{% endmacro %}

<!--enctype allows files/images to be uploaded, in this case its for image upload-->
<form method="POST" enctype="multipart/form-data">

  <div class="container-fluid">
    <!--width and height of the card height was 80vh-->
    <div class="card mx-auto" style="width: 90%; height: 110%;">
      <!--mx-4 is margin left and right with the amount 4-->
      <div class="card-body mx-4">
        <!-- <div class="form-group">
        <label for="deck-filter">Deck:</label>
        <select class="form-control" id="deck-filter">
          <option>All</option>
          <option>Deck 1</option>
          <option>Deck 2</option>
        </select>
      </div>
      <div class="form-group">
        <label for="subdeck-filter">Subdeck:</label>
        <select class="form-control" id="subdeck-filter">
          <option>All</option>
          <option>Subdeck 1</option>
          <option>Subdeck 2</option>
        </select>
      </div> -->
          
      <div class="form-group">
        <label for="deck-filter">All Decks and Subdecks:</label>
        <select class="form-control" name="deck" required>
          <!--fix this later, the thing below should show a default disabled value-->
          <option selected disabled>Pick one</option>
          
          {% for deck in decks %}
          <!--This is disables so users cant select it, its just to make the user aware which subdecks belong together-->
          <option disabled>---Deck group:---</option>
          <!-- The selceted line in the dropdown option the same, after post request-->
          <option value="{{deck.id}}">
            {{ deck.name }}
          </option>
          {% if deck.children_deck %}
            {% for subdeck in deck.children_deck %}
              {{ display_subdecks(subdeck,deck) }}
            {% endfor %}
          {% endif %}

          {% endfor %}

        </select>
      </div>

        <!-- This will filter the decks and give you the options to select -->
        <div class="card bg-light mt-3">
          <div class="card-body">
            <h5 class="card-title mb-4">Card</h5>

            <div class="form-group">

            <h5 class="card-title my-3"></h5>
            <input type="text" style="width: 100%;" name ="question" placeholder = "Question">
            </h5>
            <br>
            <p class="card-text my-2">
              <textarea style="width: 100%" name="answer" placeholder = "This is the answer area, add an answer in here but remember to keep it short and concise to maximise the retention of information"></textarea>
            </p>

          </div>
          <!--p is padding and 2 is the size of the padding-->
          <!-- <img class="card-img-bottom p-2" src="https://cdn.mos.cms.futurecdn.net/hjJdNB2rM5nYiqXuagvSmP-1200-80.jpg"
            alt="Card image cap" style="max-height: 300px;object-fit: contain"> -->
          <!--ADD BUTTON TO UPLOAD NEW IMAGE-->
          <div class="card-footer text-muted">
            <input type="file" name="image" accept="image/*">
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-primary m-3 mx-auto" style="width:80%" type="submit">Add new card</button>
  </div>
</form>

{% endblock %}