{% extends 'layout.html' %}


<title>{% block title %}Edit Deck{% endblock %}</title>


{% block body %}
<div class="container my-5">
  <h1>
    Edit Deck     
    {% if deck.parent_id %}
    <a type="button" class="btn btn-secondary btn-sm" href="/decks/edit-deck/{{deck.parent_id}}">Go to parent deck?</a>
    {% endif %}
  </h1>
  <hr>
  <br>
  <form method="post">

    <div class="d-grid gap-3">
      <!-- Deck Image -->
      <div class="form-group">
        <label for="deckImage">Deck Image</label>
        <input type="file" class="form-control-file" id="deckImage">
      </div>
      <!-- Deck Title -->
      <div class="form-group">
        <label for="deckTitle">Deck Title</label>
        <input type="text" class="form-control" name="name" value="{{deck.name}}">
      </div>
      <!-- Deck Description -->
      <div class="form-group">
        <label for="deckDescription">Deck Description</label>
        <!--value is not an attribute for textarea-->
        <textarea class="form-control" name="description" rows="3">{{deck.description}}</textarea>
      </div>
    </div>

    <!-- Submit/Cancel Buttons -->
    <div class="btn-group mt-3">
      <a type="button" class="btn btn-secondary" href="/decks/">Cancel</a>
      <input type="submit" class="btn btn-success" name="submit"></input>
    </div>
  </form>


  <hr>
  
  
  <h3>Subdecks</h3>
  
  <div id="flashcard-deck" class="d-grid ">
    <!--subdecks in the current deck-->
    {% for subdeck in deck.children_deck %}
    <div class="card mt-3">
      <div class="card-body">
        <h5 class="card-title">{{loop.index}} Title: {{subdeck.name}}</h5>
        <p class="card-text">Description: {{subdeck.description}}</p>
        <div class=" d-flex ">
          <a class="btn btn-secondary mr-3" href=/decks/edit-deck/{{subdeck.id}}>Edit</a>
          <form method = "post"><button class="btn btn-danger ml-3" type="submit" name="delete_subdeck" value="{{subdeck.id}}" style="margin-left: 5px">Delete</button></form>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <br>

  <h4> Add Subdeck</h4>
  <form method="post">
    <div class="form-group d-grid gap-3">
      <label for="subdeck_title">Subdeck Title</label>
      <input type="text" class="form-control" name="subdeck_name" id="subdeck_title" placeholder="Enter subdeck title">
    </div>
    <!-- Add/Delete Subdeck Buttons -->
    <div class="btn-group mt-3">
      <button type="submit" class="btn btn-success btn-lg" name="add_subdeck" value="add">Add New Subdeck</button>
    </div>
  </form>
  



</div>
{% endblock %}