{% extends 'layout.html' %}


  <title>{% block title %}Login{% endblock %}</title>


{% block body %}
{% if boolean == True %}
True
{% endif %}
{% else %}
{% endif %}


  <form method="post">
    <h3 align="center">Register</h3>
    <div class=""form-group">
      <label for="email">Email</label>
      <input name="email" id="email" required>
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required>
      <input type="submit" value="Login">
    </div>
  </form>
{% endblock %}