{% extends 'layout.html' %}


  <title>{% block title %}Login{% endblock %}</title>

{% block body %}

  <form method="POST">
    <h1>Login</h1>
    <div class="form-group">
      <label for="email">Email</label>
      <input name="email" id="email" placeholder="Email" class="form-label" required>

      <label for="password">Password</label>
      <input type="password" name="password" id="password" placeholder="password" class="form-label" required>

      <button class="btn btn-primary" type="submit" >Login</button>
    </div>
  </form>

{% endblock %}