{% extends 'layout.html' %}


  <title>{% block title %}Register{% endblock %}</title>


{% block body %}
<!--You can access these items in the backend using the name=""-->
<form method="post">
  <h1>Register</h1>
  <div class=""form-group">
    <label for="username">Username</label>
    <input name="username" id="username" placeholder="Enter Username" class="form-label"required>
    
    <label for="email">Email</label>
    <input name="email" id="email" placeholder="Enter email" class="form-label" required>
    
    <label for="password">Password</label>
    <input type="password" name="password1" id="password1" placeholder="Enter password" class="form-label" required>
    
    <label for="password2">Confirm Password</label>
    <input type="password" name="password2" id="password2" placeholder="Enter password" class="form-label" required>
    
    <button class="btn btn-primary" type="submit" ">Register</button>

  </div>
</form>
{% endblock %}