{% extends 'layout.html' %}


  <title>{% block title %}Stats{% endblock %}</title>


{% block body %}
<h1>Statistics overview</h1>
<p class="lead">See How you compare to the average user!</p>

<div class="container mt-5">
    <!-- A row-->
    <div class="row">
        <!-- p-4 is padding 4-->
        <div class="row p-4">
            {% for d in data%}
                <div class="col-6 py-3">
                    <div class="card h-100">
                        <div class="card-header bg-secondary text-light">{{d[0]}}</div>
                        <div class="card-body d-flex justify-content-around">
                            <div class="mr-2">
                                <h2 class="card-title mb-0">{{d[1]}}</h2>
                                <p class="card-text text-muted">You</p>
                            </div>
                            <div class="ml-2">
                                <h2 class="card-title mb-0">{{d[2]}}</h2>
                                <p class="card-text text-muted">App average</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endblock %}