{% extends 'layout.html' %}


  <title>{% block title %}Study{% endblock %}</title>


{% block body %}



<h1 >Title of deck</h1>
<div class="container-fluid">
  <div class="card mx-auto" style="min-width:400px;width:40vw;height: 80vh;">
    <div class="card-body">
      <h5 class="card-title">Card Title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    <img class="card-img-bottom" src="https://cdn.mos.cms.futurecdn.net/hjJdNB2rM5nYiqXuagvSmP-1200-80.jpg" alt="Card image cap" style="max-height: 200px;object-fit: contain">
    <!--IMAGE IS GOING DOWN TOO FAR AND MAYBE CHANGE THE RANGE TO JUST 4 BUTTONS-->
    <div class="card-footer text-muted">
      <input type="range" class="custom-range" id="car_rating"min="1" max="4" step="1">
    </div>
  </div>
</div>
{% endblock %}